examples/peripheral/template_project/pca10056/blank/ses/Output
examples/peripheral/template_project/pca10056/blank/ses/template_pca10056_Release.jlink
examples/peripheral/template_project/pca10056/blank/ses/template_pca10056.emSession